[Change categorical to onehot](https://www.datacamp.com/community/tutorials/categorical-data)   <p>
1. [obj-categorical](#obj-categorical)<br>
2. [categorical(str)->categorical(numerical)](#section2)<br>
3. [categorical(numerical)->one_hot_code](#section3)<br>

In [1]:
import pandas as pd 
from tensorflow.keras.utils import to_categorical
df = pd.read_csv('darts.csv')

<img src="https://pbs.twimg.com/media/FHqLxvLXIAQfrRJ?format=jpg&name=large">

In [3]:
pd.get_dummies(data=df, columns=['competitor'])

,xCoord,yCoord,competitor_Kate,competitor_Michael,competitor_Steve,competitor_Susan
0,0.196451,-0.520341,0,0,1,0
1,0.476027,-0.306763,0,0,0,1
2,0.003175,-0.980736,0,1,0,0
3,0.294078,0.267566,1,0,0,0
4,-0.051120,0.598946,0,0,1,0
...,...,...,...,...,...,...
795,0.320435,-0.327131,1,0,0,0
796,-0.179372,0.594201,0,0,1,0
797,0.530315,-0.833321,0,1,0,0
798,-0.287258,0.890928,0,1,0,0
799,-0.628403,-0.140868,0,0,0,1

In [5]:
df.competitor.unique()

array(['Steve', 'Susan', 'Michael', 'Kate'], dtype=object)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   xCoord      800 non-null    float64
 1   yCoord      800 non-null    float64
 2   competitor  800 non-null    object
dtypes: float64(2), object(1)
memory usage: 18.9+ KB

obj->categorical
<a id='obj-categorical'></a>

In [11]:
#turn Object_str into Category_str 
df.competitor = pd.Categorical(df.competitor)
df.competitor=df.competitor.astype('category')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   xCoord         800 non-null    float64
 1   yCoord         800 non-null    float64
 2   competitor     800 non-null    category
 3   competitorcat  800 non-null    int8
dtypes: category(1), float64(2), int8(1)
memory usage: 14.4 KB

,xCoord,yCoord,competitorcat,competitor_Kate,competitor_Michael,competitor_Steve,competitor_Susan
0,0.196451,-0.520341,2,0,0,1,0
1,0.476027,-0.306763,3,0,0,0,1
2,0.003175,-0.980736,1,0,1,0,0
3,0.294078,0.267566,0,1,0,0,0
4,-0.051120,0.598946,2,0,0,1,0
...,...,...,...,...,...,...,...
795,0.320435,-0.327131,0,1,0,0,0
796,-0.179372,0.594201,2,0,0,1,0
797,0.530315,-0.833321,1,0,1,0,0
798,-0.287258,0.890928,1,0,1,0,0
799,-0.628403,-0.140868,3,0,0,0,1

label encoding
<b id='section2'></a>

In [4]:
## Assign a number to each category (label encoding): 
# turn category_str(dtype: category) into category_number (dtype: int)
df['competitorcat'] = df.competitor.cat.codes

In [6]:
df.competitor.unique()

['Steve', 'Susan', 'Michael', 'Kate']
Categories (4, object): ['Kate', 'Michael', 'Steve', 'Susan']

In [7]:
df.competitor.dtype

CategoricalDtype(categories=['Kate', 'Michael', 'Steve', 'Susan'], ordered=False)

In [10]:
print(df.competitorcat.dtype )
df.competitorcat.unique()

int8

array([2, 3, 1, 0], dtype=int8)

one-hot response vector
<b id='section3'></a>

In [11]:
# Turn response variable into one-hot response vector
y = to_categorical(df.competitorcat) #use tensorflow function generate dummy numpy

In [24]:
Y=pd.get_dummies(df.competitorcat) #use pandas function generate dummy dataframe

In [13]:
X=df.drop(columns=['competitor']).to_numpy()

label encoder

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(['Kate', 'Michael', 'Steve', 'Susan'])
coded_label=le.transform(df.competitor)

OneHotEncoder

In [14]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')

In [19]:
X = [['Male', 1], ['Female', 3], ['Female', 2]]
enc.fit(X)

OneHotEncoder(handle_unknown='ignore')

In [16]:
enc.categories_

[array(['Kate', 'Michael', 'Steve', 'Susan'], dtype=object),
 array([0, 1, 2, 3], dtype=object)]

In [20]:
enc.transform([['Female', 1], ['Male', 4]])

<2x5 sparse matrix of type '<class 'numpy.float64'>'
	with 3 stored elements in Compressed Sparse Row format>